.DS_Store
._.DS_Store
.*
!.gitignore
scratch.py
__pycache__
/lectures/cs532-s19/assignments/A5/D3js/sandbox.js
/lectures/cs532-s19/assignments/A5/D3js/sandbox.html
/lectures/cs532-s19/assignments/A5/432asst5.html
/lectures/cs532-s19/assignments/A5/432asst5.pdf
/lectures/cs532-s19/assignments/A5/sandbox.py
/lectures/cs532-s19/assignments/A5/__pycache__/
